@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* header */
.header,
.content,
footer{
  width: 1110px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar_logo{
  margin:50px  ;
}
.navbar_list{
  display: flex;
}
.navbar_list a{
  display: flex;
  padding: 10px 4px 15px;
  border-bottom: 2px solid transparent;
  margin: 0 19px;
  color: #bab9b9;
  font-size: 18px;
  line-height: 14px;
}
.navbar_list a:hover{
  color: #1581b7;
  border-bottom-color: inherit;
}
.header_ing{
  width: 100%;
  margin-top: 50px;
}
.header_ing img{
  width: 100%;
  object-fit: contain;
}
.content{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.content_one,
.content_two{
  min-height: 300px;
  background: #f0f0f0;
  padding: 40px;
}
.content_one{
  width: 730px;
}
.content_two{
  width: 350px;
}
.content_one h3, .content_two h3{
  font-size: 20px;
  font-weight: 400;
  color: #4581b7;
  margin-bottom: 30px;
}
.content_one p, .content_two p, .content_two a{
  font-size: 16px;
  color: #7f7f7f;
  line-height: 30px;
}
.content_two a{
  display: flex;
  margin-top: 50px;
}
footer{
  margin-top: 30px;
  background: #f0f0f0;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer h3{
  font-size: 20px;
  font-weight: 400;
  color: #7f7f7f;
  
}
.footer a{
  display: flex;
  font-size: 25px;
  font-weight: 700;
  color: #808080;
}
