@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* header */
.header{
  width: 1110px;
  margin: 0 auto;
  border: 1px solid red;
  
}
.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar_logo{
  margin:50px  ;
}
.navbar_list{
  display: flex;
}
.navbar_list a{
  display: flex;
  padding: 10px 4px 15px;
  border-bottom: 2px solid transparent;
  margin: 0 19px;
  color: #bab9b9;
  font-size: 18px;
  line-height: 14px;
}
.navbar_list a:hover{
  color: #1581b7;
  border-bottom-color: inherit;
}
.header_ing{
  width: 100%;
  margin-top: 50px;
}
.header_ing img{
  width: 100%;
  object-fit: contain;
}